<%= form_for ([@classification, @flaw]), :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-actions">
    <%= f.submit "Update", :class => 'btn btn-primary' %>
    <%= link_to "Cancel", 
        {controller: "classifications", 
          action: "show", 
          id: @classification.id},
          :class => 'btn btn-default '  %>
  </div>
  
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls well span6">
      <%= f.select :state, 
            options_from_collection_for_select(@states, 'statename', 'statename' , 
               @flaw.state) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :priority, :class => 'control-label' %>
    <div class="controls well span6">
      <%= f.select :priority, 
            options_from_collection_for_select(@priorities, 'prioritynumber', 'priorityname',
                @flaw.priority ) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Location", :class => 'control-label' %>
    <div class="controls well span6">
      <%= f.text_field :title, :class => 'text_field', :size => 200 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Description", :class => 'control-label' %>
    <div class="controls well span8">
      <%= f.text_area :description, 
              :class => 'text_area', 
              :placeholder => 'Enter text ...', 
              :style => "width: 90%; height: 350px" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Recommendation (Delta)", :class => 'control-label' %>
    <div class="controls well span8">
      <%= f.text_area :recommendation, 
              :class => 'text_area', 
              :placeholder => 'Enter text ...', 
              :style => "width: 90%; height: 350px" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Update", :class => 'btn btn-primary' %>
    <%= link_to "Cancel", 
        {controller: "classifications", 
          action: "show", 
          id: @classification.id},
          :class => 'btn btn-default '  %>
  </div>
<% end %>

