<%- model_class = Flaw -%>
<div class="pull-right">
  <dl class="dl-horizontal">
    <table>
      <tr>
        <td>
          <%= link_to 'Classifications', 
            {controller: "classifications", 
              action: "show",
              id: @classification.id
              },
              :class => 'btn btn-default icon-arrow-up'  %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
        				edit_classification_flaw_path(@classification.id, @flaw.id), 
        				:class => 'btn btn-warning icon-edit' %> 
            </td>
      </tr>
    </table>
  </dl>
</div>

<div class="well">
	<h3> <%= @flaw.title %> ( <%= @flaw.state %> ) - <%= raw(get_mnemonic_priority(@flaw.priority)) %> </h3>
</div>
<div class="tabbable span9">
  <ul class="nav nav-pills">
    <li><a href="#tab1" data-toggle="tab" class="btn btn-default icon-th-list">&nbsp; Description</a></li>
    <li><a href="#tab2" data-toggle="tab" class="btn btn-default icon-hand-right">&nbsp; Recommendation</a></li>
  </ul>
    <div class="tab-content">
        <div class="tab-pane hero-unit" id="tab1">
           <p><%= raw(@flaw.description) %></p>
		</div>
        <div class="tab-pane hero-unit" id="tab2">
           <p><%= raw(@flaw.recommendation) %></p>
		</div>
	</div>
</div>


