<%= form_for @classification, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls well">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :overview, :class => 'control-label' %>
    <div class="controls well">
      <%= f.text_field :overview, 
          :class => 'text_area',
          :placeholder => 'Enter text ...', 
          :style => "width: 810px; height: 450px"
          %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :guidance, :class => 'control-label' %>
    <div class="controls well">
      <%= f.text_field :guidance, 
          :class => 'text_area',
          :placeholder => 'Enter text ...', 
          :style => "width: 810px; height: 450px"
          %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                classifications_path, :class => 'btn' %>
  </div>
<% end %>
