<%- model_class = Classification -%>
<div class="page-header">
  <h3>Classifications (<%= (@classifications.count) %>)
	<%= link_to t('.new', :default => t("helpers.links.new")),
            new_classification_path,
            :class => 'btn btn-primary icon-plus' %> | 
  <%= link_to 'Graph', metrics_index_path,
            :class => 'btn btn-primary icon-align-center' %></h3>
</div>

<div class="hero-unit">
<% if @classifications.any? %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th> Class </th>
      <th> Flaws Count(#) </th>
      <th> Review Complete </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @classifications.each do |classification| %>
      <tr>
        <td> <%= link_to "View...",
                      classification_path(classification), :class => 'btn btn-normal icon-eye-open ' %>
	</td>	
        <td><%= classification.title %></td>
        <td>
            <span class="badge badge-inverse ">
            <%= (classification.flaws.any?) ? classification.flaws.count : "None" %>
            </span>
        </td>
        
        <td>
            <span class="badge">
            <%= 
                if (classification.flaws.any?)
                  total_possible=(classification.flaws.count * 100 )
                  total_exist=0

                  classification.flaws.each { |fl| 
                      total_exist += (fl.progress || 10)
                  }
                  ((100 * total_exist) / total_possible ).to_s + "%"
                else
                  "0 %"
                end
            %>
            </span>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_classification_path(classification), :class => 'btn btn-warning icon-edit' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      classification_path(classification),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger icon-remove' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>