<%- model_class = Classification -%>

<div class="pull-right">
  <dl class="dl-horizontal">
    <table>
      <tr>
        <td>
          <%= link_to 'Classifications', 
            {controller: "classifications", 
              action: "index"},
              :class => 'btn btn-default icon-arrow-up'  %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_classification_path(@classification.id), :class => 'btn btn-warning icon-edit' %>
        </td>
      </tr>
    </table>
  </dl>
</div>


<div class="well">
  <h3> <%= @classification.title %> </h3>
</div>

<div class="tabbable">
  <ul class="nav nav-pills">
    <li><a href="#tab1" data-toggle="tab" class="btn btn-default icon-th-list">&nbsp; Class Overview</a></li>
    <li><a href="#tab2" data-toggle="tab" class="btn btn-default icon-hand-right">&nbsp; Remediation Guidance</a></li>
    <li><a href="#tab3" data-toggle="tab" class="btn btn-default icon-fire">&nbsp; Pending Flaws</a></li>
  </ul>
  <div class="tab-content">

        <div class="tab-pane well" id="tab1" >
           <p><%= raw(@classification.overview) %></p>
        </div>
        <div class="tab-pane well" id="tab2" >
           <p><%= raw(@classification.guidance) %></p>
        </div>

        <div class="tab-pane well" id="tab3">
          <h3>Flaws:  (<%= @classification.flaws.count %>)
           <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_classification_flaw_path(@classification.id),
                        :class => 'btn btn-primary' %>
          </h3>

          <% if @classification.flaws.any? %>
            <table class="table table-striped">
              <tbody>
              <%= render :partial => "flaws/flaw", :locals => { :classification => @classification, :flaws => @classification.flaws } %>
              </tbody>
            </table>
          <% end %>
         </div>
  </div>
</div>



