<%- model_class = Post -%>

<div class="well well-small">
  <dl class="dl-horizontal">
    <table>
      <tr>
        <td>
          <%= link_to 'Categories', 
            {controller: "posts", 
              action: "index"},
              :class => 'btn btn-default icon-arrow-up'  %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_post_path(@post.id), :class => 'btn btn-warning icon-edit' %>
        </td>
      </tr>
    </table>
  </dl>
</div>

<hr>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs nav-pills">
    <li class="active"><a href="#tab1" data-toggle="tab">Title</a></li>
    <li><a href="#tab2" data-toggle="tab">Text</a></li>
    <li><a href="#tab3" data-toggle="tab">Comments</a></li>
  </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
           <p><%= @post.title %></p>
        </div>
        <div class="tab-pane" id="tab2" >
           <p><%= @post.text %></p>
        </div>
        <div class="tab-pane" id="tab3">
          <div>

          <h3>Comments:  (<%= @post.comments.count %>)
           <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_post_comment_path(@post.id),
                        :class => 'btn btn-primary' %>
           <%= link_to '<- Categories', 
                {controller: "posts", 
                action: "index"}, 
                :class => 'btn btn-default'  %></h3>

          <% if @post.comments.any? %>
            <table class="table table-striped">
              <tbody>
              <%= render :partial => "comments/comment", :locals => { :post => @post, :comments => @post.comments } %>
              </tbody>
            </table>
          <% end %>

          <div>

        </div>
    </div>
</div>

<hr>

